@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BEBAS.ttf');
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster-Regular.ttf');
}

p.result.font-1{
	font-family: 'Open Sans', sans-serif; 	
}
p.result.font_2{
	 font-family: 'Bebas'; 	
}
p.result.font-3{
	font-family: 'Lato', sans-serif;
}
p.result.font-4 {
font-family: 'Lobster';
}

.text-box{
	padding-top: 2rem;
	}

.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
