 
@font-face { 	   
    font-family: 'ArialBold'; 
    src: url('../fonts/ArialBold.ttf');
}   
@font-face { 	   
    font-family: 'ArialRegular'; 
    src: url('../fonts/ArialRegular.ttf');
}  
 
// переменные для шрифтов  
$bold: "ArialBold";  
$reg: "ArialRegular";      




 

 
	 