@font-face {
  font-family: 'ArialBold';
  src: url("../fonts/ArialBold.ttf"); }

@font-face {
  font-family: 'ArialRegular';
  src: url("../fonts/ArialRegular.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, input, textarea, button {
  outline: none;
  text-decoration: none;
  cursor: pointer; }
  a:hover, input:hover, textarea:hover, button:hover {
    text-decoration: none; }
a{
  cursor: pointer;
}
li {
  list-style: none; }

html {
  box-sizing: border-box; 
  font-size: 10px; }

body {
  background: url(../img/bg.jpg) no-repeat;
  background-position: 50% 0;
  background-color: black; } 

.container {
  display: block;
  max-width: 944px;
  margin: 0 auto; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem; }

.autorization {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.6rem; }
  .autorization__input {
    display: block;
    background-color: #212121;
    margin-left: 0.7rem;
    padding: 0.8rem 1.6rem;
    font-family: "ArialRegular";
    color: #7e7e7e;
    font-size: 1.1rem;
    border: none; }

.registr {
  margin: 0 1.2rem 0 0.7rem; }
  .registr__link {
    background-color: #00ff5a;
    padding: 0.8rem 1.6rem;
    color: #000;
    font-family: "ArialBold";
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase; }

.btn {
  display: block;
  background-color: #292929;
  padding: 0.8rem 1.6rem;
  font-family: "ArialRegular";
  font-size: 1.1rem;
  color: #7e7e7e;
  border: none;
  outline: none;
  text-transform: uppercase; }
  .btn__enter {
    margin-left: 0.8rem; }

.btn_change-lang {
  display: block;
  position: relative;
  padding: 0.8rem	1.6rem 0.8rem 3.5rem; }
  .btn_change-lang:before {
    display: block;
    content: '';
    width: 20px;
    height: 15px;
    z-index: 100;
    position: absolute;
    background: url(../img/flag.png) no-repeat center;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%); }

.menu {
  display: flex;
  background-color: #292929; }

.menu__item {
  display: block;
  padding: 1.6rem 7.8rem;
  color: #fff;
  font-family: "ArialRegular";
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  border-left: 1px solid #3a3a3a; }
  .menu__item:hover {
    background-color: #00ff5a;
    color: #000; }
  .menu__item_green {
    background-color: #00ff5a;
    color: #000; }

.logo-block {
  margin-right: 6rem; }

.tabs-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem; }
  .tabs-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    padding: 1.4rem;
    width: 100%;
    color: #7e7e7e;
    font-family: "ArialRegular";
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    border-left: 0.1px solid #3a3a3a; }
    .tabs-list__item_active {
      color: #fff; }
  .tabs-list__icon {
    margin-right: 1.2rem; }

.tabs {
  margin-bottom: 14rem; }

.tabs-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .tabs-content__item {
    background-color: #292929;
    width: 32%;
    margin-bottom: 2.2rem; }
  .tabs-content__img {
    width: 100%; }
  .tabs-content__wrap {
    padding: 2.1rem 1rem 1.2rem 2.6rem;
    text-align: right;
   }
  .tabs-content__title {
    color: #fff;
    font-family: "ArialRegular";
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    min-height: 3rem; 
    text-align: left;}
  .tabs-content__text {
    padding: 1.7rem 0 1.5rem;
    color: #747474;
    font-family: "ArialRegular";
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left; }
  .tabs-content__btn {
    background-color: #00ff5a;
    padding: 0.9rem 1rem;
    color: #000;
    font-family: "ArialRegular";
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 0.3rem;
    text-transform: uppercase;
    border: none; }
    .tabs-content__btn:hover {
      background-color: #38cb2d; }

nav { 
  margin-bottom: 29.7rem; }
  .btn-toggle { 
  display: none;
}
.autorization__buttons{
  display: flex;
}
.btn-toggle{
  display: none;
}
.btn-wrap {
   display: flex;
}
.menu-dropdown {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: fixed;
  background: rgb(0,0,0,0.9);
  text-align: center;
  width: 100%;
  z-index: 100;
  right: 0;
  left: 100%;
  bottom: 0; 
  top: 0;
  transition: .4s; 
}   
.menu-dropdown li {
    width: 100%;
}
.menu-dropdown__item {
  display: block;
  padding: 1.6rem 7.8rem;
  margin-bottom: 1rem;
  color: #fff;
  font-family: "ArialRegular";
  font-size: 1.8rem;
  font-weight: 400; 
  text-transform: uppercase;
  transition: .4s;
}
.menu-dropdown__item:hover {
    background: #141414;
} 
.menu-dropdown__close {
  display: block;
  font-size: 3rem;
  color: #fff; 
  position: absolute;
  top: 0;
  right: 0;
  background: #212121;
  padding: 1rem;
  cursor: pointer;
  border: none; 
}
.active{
  left: 0; 
} 

/*media*/ 
@media (max-width: 944px) {
  button, input{
    border-radius: 3px  
  }
  header, .autorization, .tabs-list, .menu{
    flex-direction: column;
  }
  .menu__item{
    display: none;
  }
  .btn-toggle{
    display: block;
    position: relative;
    margin: 0 auto; 
    font-size: 2.5rem;
    border: none;
    color: #fff;
    background: #212121;
    padding: 0.5rem 5rem;
    cursor: pointer;
  }
  .autorization{
    margin-bottom: 2rem;
  }
  .autorization__input{
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .btn{
    font-size: 1.2rem;
  }
   .btn_change-lang{
    margin-top: 2rem;
  }
  .tabs-list__item{
  width: 60%;
  margin-bottom: 1px;
  }
  .registr__link {
    margin: 2rem;
    font-size: 1.2rem;
  }
    nav {
      margin-bottom: 7rem;
    }
    .logo-block{
      margin: 2rem;
    }
    header{
      margin-bottom: 1.6rem;
    }
}

@media (max-width: 768px) {
  .tabs-content__item{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 1rem;
  }
  .tabs-content{
    justify-content: center;
  }
  .tabs-content__title, .tabs-content__text,.tabs-content__wrap{
  text-align: center;
  } 
}

@media (max-width: 568px) {
    .tabs-content__item, .tabs-list__item{
      width: 90%;
    }
}